body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 15px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

input, select, button {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"], select {
    font-size: 1rem;
    padding: 10px;
}

input[type="text"] {
    width: 95%; /* Ajustado para deixar o campo um pouco menor */
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 12px;
    font-size: 1.1rem;
}

button:hover {
    background-color: #0056b3;
}

#mensagem {
    color: #333;
    font-weight: bold;
    margin-top: 15px;
}